.loginContainer{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-color: #CCC;
}

.login {
    width: 600px;
    height: 480px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    top: 100px;
    font-size: 16px;
    background-color: #FFF;

    .row {
        height: 100px;
    }

    .input {
        height: 60px;
        line-height: 60px;
        font-size: 14px;
    }
}

.uName, .uPsw {
    width: 400px;
    height: 40px;
}

//<div class="loginContainer">
//    <div class="wrap panel login">
//        <div class="title header">
//            <span>登录</span>
//        </div>
//        <div class="middle">
//            <div class="row">
//                <div class="title">用户名</div>
//                <div class="input">
//                    <input type="text" class="uName" />
//                </div>
//            </div>
//            <div class="row">
//                <div class="title">密码</div>
//                <div class="input">
//                    <input type="password" class="uPsw" />
//                </div>
//            </div>
//        </div>
//        <div class="bottom">
//            <div class="row">
//                <div class="btn" onClick="window.location.href='/index'"><p>登录</p></div>
//            </div>
//        </div>
//    </div>
//</div>